#home .home-child {
  position: absolute;
  top: 200px;
  left: 576px;
  /*
  box-sizing: border-box;
  width: 288px;
  height: 288px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home .khan-sir-image-4-1-icon {
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid rgba(36, 255, 0, 0.85);

  width: 285px;
  height: 285px;
  background: linear-gradient(180deg, #1b1b1b, #090909 84.5%, #000);
  object-fit: cover;
}
#home .icons {
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #1b1b1b, #090909 84.5%, #000);
  object-fit: cover;
  width: 200px;
  height: 200px;
}
#home .ellipse-div,
#home .home-child1,
#home .home-inner,
#home .home-item {
  position: absolute;
  top: 638px;
}
#home .home-item {
  left: 91px;
  cursor: pointer;
  /* background-color: #1b1b1b; */
}

#home .home-inner {
  left: 455px;
}
#home .ellipse-div,
#home .home-child1 {
  left: 819px;
}
#home .home-child1 {
  left: 1183px;
}
#home .first-last {
  font-size: 57.65px;
}

#home .send-money,
#home .transections {
  left: 850px;
}
#home .transections {
  left: 1213px;
}
#home {
  position: relative;
  background-color: #fffff3;
  width: 100%;
  text-align: left;
  font-size: 24px;
  color: #000;
  left: 40%;
  font-family: Inter;
  transform: scale(0.7) translate(-50%);
  margin: -67px;
}
