.bg {
  position: absolute;
  top: 0;
  left: 207px;
  background: linear-gradient(180deg, #424343, #222 71.6%, #000);
  width: 860px;
  height: 900px;
}
.left-content-child {
  position: absolute;
  top: 620px;
  left: 0;
  width: 638px;
  height: 583px;
}
.button{
  cursor: pointer;
}
.nocash,
.the-most-popular {
  position: absolute;
  top: 0;
  left: 0;
}
.the-most-popular {
  top: 60px;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.nocash-parent {
  width: 352px;
  height: 87px;
}
.nocash-parent,
.read-more {
  position: relative;
}
.read-more-wrapper {
  border-radius: var(--br-11xl);
  background-color: var(--color-royalblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 30px;
  font-size: var(--font-size-sm);
  cursor: pointer;
}
.group-parent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px;
}
.content,
.left-content {
  position: absolute;
  top: 371px;
  left: 364px;
  width: 352px;
  height: 147px;
}
.left-content {
  top: -40px;
  left: -207px;
  width: 1067px;
  height: 1203px;
}
.hello-boss {
  top: 0;
  display: inline-block;
  width: 190px;
}
.hello-boss,
.sign-up-to,
.title {
  position: absolute;
  left: 0;
}
.sign-up-to {
  top: 42px;
  font-size: var(--font-size-lg);
}
.title {
  top: 0;
  width: 198px;
  height: 69px;
}
.bxbxs-user-icon,
.full-name {
  position: absolute;
  top: 3px;
  left: 32px;
  opacity: 0.7;
}
.bxbxs-user-icon {
  height: 100%;
  width: 23.53%;
  top: 0;
  right: 76.47%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.placeholder {
  position: relative;
  width: 102px;
  height: 24px;
}
.email {
  border-radius: var(--br-11xl);
  background-color: var(--white);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 307px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-7xl);
}
.codiconmail {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
  opacity: 0.7;
}
.r-input{
  border: none;
}
.r-input:focus-visible{
  outline: none;
}
.placeholder1 {
  position: relative;
  width: 140px;
  height: 24px;
}
.password1 {
  position: absolute;
  top: 2px;
  left: 32px;
  opacity: 0.7;
}
.placeholder2,
.placeholder3 {
  position: relative;
  width: 100px;
  height: 24px;
}
.placeholder3 {
  width: 57px;
  height: 21px;
}
.button,
.email-parent {
  display: flex;
  flex-direction: column;
}
.button {
  border-radius: var(--br-11xl);
  background-color: var(--color-royalblue);
  width: 307px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-7xl);
  box-sizing: border-box;
  color: var(--white);
}
.email-parent {
  position: absolute;
  top: 109px;
  left: 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  font-size: var(--font-size-sm);
}
.right-content {
  position: absolute;
  top: 213px;
  left: 973px;
  width: 307px;
  height: 394px;
  font-size: 26px;
  color: var(--color-darkslategray);
}
.old-user {
    top: 413px;
    left: 71px;
    width: 100%;
    font-size: var(--font-size-sm);
    opacity: 0.7;
}
.left-content-child {
  position: absolute;
  top: 549px;
  left: -54px;
  width: 638px;
  height: 583px;
  border-radius: 50%;
  border: 5px solid;
}
.register {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: 40px;
  color: var(--white);
  font-family: var(--font-poppins);
}