#searchuser .searchuser-child,
#searchuser .searchuser-item {
  position: absolute;
  top: 350px;
  left: 341px;
  border-radius: 96px;
  background-color: #1b1b1b;
  width: 624px;
  height: 110px;
}
#searchuser .phone_number {
  font-size: 57.65px;
  color: #f2f2f2;
  text-align: center;
}
#searchuser .searchuser-item {
  left: 991px;
  border-radius: 50%;
  width: 107px;
  cursor: pointer;
  height: 102px;
}
#searchuser .search-user {
  position: absolute;
  top: 370px;
  left: 494px;
  opacity: 0.44;
}
#searchuser .searchuser-inner p {
  margin: 0;
  font-size: 36px;
}
#searchuser .searchuser-inner {
  position: absolute;
  top: 493px;
  left: 341px;
  border-radius: 53px;
  background-color: #1b1b1b;
  width: 757px;
  height: 384px;
  padding: 16px;
}
#searchuser .send-money {
  position: absolute;
  top: 223px;
  left: 570px;
  color: #000;
}
#searchuser {
  position: relative;
  background-color: #fff;
  width: 100%;
  text-align: left;
  font-size: 57.65px;
  color: #f1f1f1;
  font-family: Inter;
  transform: scale(0.7);
  margin: -67px -67px -67px -19px;
}
